div {
  box-sizing: border-box;
  width: 200px;
  padding: 20px;
  border: 5px solid black;
  margin: 30px;
}

* {
  margin: 0;
}
div {
  border: 5px solid rgba(0, 128, 0, 0.922);
  border-left: 5px dotted dodgerblue;
  border-top: 5px dashed red;
  border-right: 5px double gold;
  /* padding: 20px; */

  /* padding-top: 20px; */
  /* padding-bottom: 20px; */
  /* padding-left: 20px; */

  /* padding-right: 100px; */
  /* top and bottom, not left and right */
  /* padding: 10px 0;  */
  /* left and right, not top and bottom  */
  /* padding: 0 10px; */

  /* padding: 40px 20px; */
  /* top botton, left right */
  padding: 20px 5px 40px 30px;

  margin: 20px 50px 30px 10px;
}
