body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
div {
  margin: 10px;
  padding: 20px;
  color: white;
  width: 450px;
  box-shadow: 0px 0px 50px rgb(0, 14, 210);
}
div h1,
h2 {
  padding-bottom: 20px;
}
